.dropdown {
  display: none;
}

.searchbar {
  display: none;
}
.navigation {
  display: none;
}
@media (width >= 64rem /* 1024px */) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .searchbar {
    display: flex;
  }
}
